# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven Builds
target/

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse IDE
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.metadata
.project
.classpath
.settings/
.loadpath
local.properties

# BlueJ IDE
*.ctxt

# VSCode IDE
.VSCode

# Mobile Tools for Java (J2ME)
.mtj.tmp/
